/* start-html page css */

.common_phone_call_icon {
  text-decoration: none;
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 60px;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  vertical-align: center;
  border-radius: 10px;
  text-align: center;
  background-color: #fab900 !important;
  z-index: 11111;
}

@media only screen and (max-width: 767px) {
  .common_phone_call_icon {
    display: none;
  }
}

.common_get_quote_button {
  text-decoration: none;
  position: fixed;
  right: 0;
  width: 50px;
  height: 100px;
  transform: rotate(180deg) translate(-4px);
  writing-mode: vertical-lr;
  justify-content: center;
  text-align: center;
  top: 50%;
  background-color: #2e2e2e !important;
  z-index: 11111
}



@keyframes slidy {
  0% {
    left: 0
  }

  20% {
    left: 0
  }

  25% {
    left: -100%
  }

  45% {
    left: -100%
  }

  50% {
    left: -200%
  }

  70% {
    left: -200%
  }

  75% {
    left: -300%
  }

  95% {
    left: -300%
  }

  100% {
    left: -400%
  }
}

.ban_slider {
  height: 651px;
  width: 100%
}

div#slider {
  overflow: hidden
}

div#slider figure img {
  width: 20%;
  float: left;
  height: auto
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite
}

.banner_image_view {
  width: 100%;
  height: 100%
}

.banner_image {
  width: 100%;
  height: 100%
}

.recommended_products_tab_div {
  height: 426px
}

.slider_images {
  /*display: none*/
}

@media screen and (max-width:1700px) {
  .ban_slider {
    height: 570px;
    width: 100%
  }
}

@media screen and (max-width:1500px) {
  .ban_slider {
    height: 520px;
    width: 100%
  }
}

@media screen and (max-width:1450px) {
  .ban_slider {
    height: 480px;
    width: 100%
  }
}

@media screen and (max-width:1080px) {
  .ban_slider {
    height: 420px;
    width: 100%
  }
}

@media screen and (max-width:768px) {
  .ban_slider {
    height: 420px;
    width: 100%
  }

  .recommended_products_tab_div {
    height: 570px
  }
}

@media screen and (max-width:600px) {
  .ban_slider {
    height: 350px;
    width: 100%
  }

  .recommended_products_tab_div {
    height: 570px
  }
}

@media screen and (max-width:500px) {
  .ban_slider {
    height: 240px;
    width: 100%
  }

  .recommended_products_tab_div {
    height: 530px
  }
}

@media screen and (max-width:360px) {
  .ban_slider {
    height: 230px;
    width: 100%
  }

  .recommended_products_tab_div {
    height: 530px
  }
}

img {
  opacity: 1;
  transition: opacity 1s
}

img[data-src] {
  opacity: 0
}

.highlight {
  visibility: visible
}

.testimonials {
  min-height: 350px
}

@media all and (max-width:575px) {
  .home_page_h1 {
    font-size: 28px
  }

  .products {
    background-size: 90px
  }
}

.owl-carousel .owl-stage {
  display: flex;
}

.testimonials .owl-carousel .owl-item {
  border: 12px solid #fab900;
  padding: 14px;
  width: 100%;
  float: left;
  margin: 20px 0;
  position: relative;
  background-color: #fff;
}

.navbar .megamenu {
  padding: 1rem
}

@media all and (min-width:992px) {
  .navbar .has-megamenu {
    position: static !important
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0
  }
}

@media(max-width:991px) {

  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px
  }
}

@media (min-width:1282px) and (max-width:1493px) {
  .custom-menu .input-group {
    width: 155px !important
  }
}

.header {
  font-family: 'Daikon';
}

.header .cntct-info .contact-tab>a,
.social-icon>a {
  color: #ffffff !important;
  text-decoration: none !important;
  font-size: 14px;
  font-family: 'Daikon';
}

.contact-tab>a {
  font-size: 13px !important
}

.navbar .megamenu {
  left: 10px !important;
  right: 0;
  width: 99% !important;
  top: 78% !important
}

.col-megamenu .title {
  margin: 30px 0;
  font-family: 'Daikon';
  font-size: 17px
}

.col-megamenu a {
  color: #3c3c3c;
  text-decoration: none;
  font-family: 'Daikon';
  
}

.megamenu-ul a {
  color: #3c3c3c;
  text-decoration: none;
  font-size: 14px
}

.megamenu {
  padding-bottom: 35px
}

.col-megamenu .title a:after {
  content: '';
  height: 2px;
  display: block;
  color: #fab900;
  width: 50px;
  bottom: 0;
  border: solid;
  margin-top: 10px
}

.megamenu-ul>li:before {
  content: url('../../assets/images/menu-bullets.png');
  color: #fab900;
  width: 11px;
  margin: 0 7px
}

.megamenu a:hover {
  background-color: #f5f5f5
}

.nav-item {
  font-size: 14px;
  font-family: 'Daikon';
}

.dropdown-menu {
  min-width: 200px !important;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  left: 6px
}

.dropdown-menu .row>ul>li {
  border-bottom: 1px solid rgba(0, 0, 0, .15)
}

.dropdown-menu .row>ul>li>a {
  font-family: 'Daikon';
  display: block;
  padding: 10px 0;
  font-size: 14px;
  text-decoration: none;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap
}

.dropdown-menu .row>ul>li>a:hover {
  background-color: #f5f5f5
}


.custom-menu .navbar-nav>li>a {
  color: #2b2b2b !important;
  border-radius: 25px;
  font-family: 'Daikon';
  padding: 8px 20px !important;
  font-size: 13px;
  font-family: 'Daikon';
  font-weight: 700;
}

.custom-menu .navbar-nav>li>a:focus,
.custom-menu .navbar-nav>li>a:hover {
  color: #eb2127 !important;
}

.overlay-content .accordion-header a,
.res-overlay .accordion-item a {
  display: block;
  font-family: 'Daikon';
  text-decoration: none
}

.accordion-item-inner a {
  display: block;
  font-family: 'Daikon';
  text-align: left;
  padding-right: 10px;
  color: #fff
}

.accordion-item-inner a:hover {
  display: block;
  font-family: 'Daikon';
  text-align: left;
  padding-right: 10px;
  color: #fff
}

.accordion-button:not(.collapsed) {
  background-color: transparent
}

#menu-collapse-1 .panel-body {
  padding: 0 15px
}

.res-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9);
  overflow-x: hidden;
  transition: .5s
}

.overlay-content {
  position: relative;
  top: 18%;
  width: 100%;
  text-align: center;
  margin-top: 30px
}

.res-overlay .panel a {
  color: #fff;
  padding-left: 43px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  text-align: left;
  text-decoration: none
}

.res-overlay a:focus,
.res-overlay a:hover {
  color: #f1f1f1
}

.res-overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 24px;
  font-size: 46px;
  color: #fff
}

.panel.home-item-icon .fa {
  font-size: 42px
}

.overlay-content .panel {
  background: 0 0;
  box-shadow: none
}

.overlay-content .accordion-item {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #eb2127;
  background-color: transparent !important
}

.overlay-content .accordion-button {
  background-color: transparent !important
}

.overlay-content .panel-title {
  text-align: left
}

.overlay-content .panel:last-child {
  border-bottom: none
}

.overlay-content .panel-group>.panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0
}

.overlay-content .accordion-group .panel {
  border-radius: 0
}

.overlay-content .accordion-group .accordion+.accordion {
  margin-top: 0
}

.overlay-content .accordion-heading {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
  text-align: left
}

.overlay-content .accordion-title a {
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px
}

.overlay-content .accordion-group .accordion-heading+.accordion-collapse>.accordion-body {
  border-top: 1px solid #fab900
}

@media (max-width:767px) {
  div#accordionMenu {
    width: 290px
  }
}

div#accordionMenu {
  width: 350px;
  display: inline-block
}

.panel-group {
  margin-bottom: 20px
}

#collapseThree a,
#collapseTwo a {
  padding: 7px 15px;
  font-size: 14px;
  font-family: 'Daikon';
}

div#accordionMenu {
  width: 350px;
  display: inline-block
}

.accordion-body {
  padding: 0
}

.accordion-button {
  color: #fff
}

.accordion-button:not(.collapsed) {
  color: #fff
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:focus {
  box-shadow: none !important
}

@media all and (max-width:1366px) {
  .custom-menu .navbar-nav>li>a {
    padding: 6px 5px !important
  }
}

@media all and (max-width:1460px) {
  .custom-menu .navbar-nav>li>a {
    padding: 6px 5px !important
  }
}

@media all and (max-width:1300px) {
  .custom-menu .navbar-nav>li>a {
    padding: 6px 5px !important
  }

  .default-logo1 {
    width: 200px !important;
    height: auto !important
  }

  .search_form_top {
    display: none;
    width: 100%
  }
}

@media all and (max-width:1150px) {
  .default-logo1 {
    width: 160px !important;
    height: auto
  }

  .search_form_top {
    display: none;
    width: 100%
  }
}

.beat_my_quote_heading {
  font-family: 'Daikon';
  font-size: 30px
}

.get-quote p {
  font-family: 'Daikon';
  font-size: 18px;
  font-weight: 700
}

.search_input_top {
  display: block;
  color: #555;
  background-color: transparent;
  border: none;
  border-radius: 4px
}

.search_input_top:focus {
  box-shadow: inherit;
  display: block;
  color: #555;
  background-color: transparent;
  border: none;
  border-radius: 4px
}

.search_form_top {
  padding: 0;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 20px
}

.small_search_form_top {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 250px;
  align-self: center;
  margin-left: auto;
  margin-right: auto
}

.fa-search {
  color: #0c4128
}

span.res-search {
  float: right;
  display: block;
  line-height: 62px
}

@media (min-width:1300px) {
  span.res-search {
    display: none
  }
}

span.res-search img {
  width: 25px
}

.drop-search {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background: #fff;
  padding: 20px 10px;
  box-shadow: 0 5px 12px -2px rgb(0 0 0 / 20%)
}

.col-megamenu .title:after {
  content: '';
  height: 2px;
  display: block;
  color: #fab900;
  width: 50px;
  bottom: 0;
  border: solid;
  margin-top: 10px;
}





/* html-css end */



.Packaging-Offers h2 {
  font-size: 28px !important;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  line-height: 41px;
  font-weight: bold;
}

.Packaging-Offers {
  background-color: #10133a;
}

.Packaging-Offers p {
  color: #fff;
  padding-top: 10px;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
}


.custom-menu .navbar-nav>li:nth-child(5) a {
  background-color: #eb2127 !important;
  color: #fff !important;
  padding: 9px 15px !important;
  font-size: 16px;
}

.custom-menu .navbar-nav>li:last-child a {

  background-color: #10133a !important;
  color: #fff !important;
  text-transform: uppercase;
  padding: 9px 15px !important;
  font-size: 16px;
}

.testimonials .card .card-title {
  text-align: center !important;
  display: block ruby !important;
}

.owl-carousel.owl-loaded.owl-drag {
  overflow: hidden;
}

.testimonials .card.d-flex {
  text-align: center;
}

.testimonials.card-img {
  width: 160px;
  height: 160px;
}

.testimonials h3 {
  font-size: 45px;
  line-height: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.testimonials .owl-carousel .owl-item {
  border: 0 !important;

}

#testimonials {
  background-image: url("../../assets/images/testimonial-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;


}

.video-section .video-heading h2 {
  font-size: 24px !important;
  line-height: 36px;
  color: #10133a;
  text-align: center;
  width: 66%;
  margin: 0 auto;
  font-weight: bold;
}

.video-section .video-heading p {
  font-size: 17px;
  line-height: 28px;
  color: #7e8588;
  text-align: center;
  width: 59%;
  margin: 0 auto
}

.video-section .video-heading {
  padding-top: 100px;
  padding-bottom: 50px;
}

.video-section .video-imbend {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
}

.owl-nav {
  display: none !important;
}

.owl-dots {
  display: none !important;
}

.card {

  background: none !important;
}

.testimonials .owl-carousel .owl-item {
  background: none !important;
}

.card-body.p-0.pt-2 {
  background-color: #eb2128;
  width: 70%;
  margin: 0 auto;
  margin-top: 0px;
  padding-top: 20px;
  margin-top: 20px;
  padding: 10px !important;
}

.card-body h2 {
  font-size: 22px;
  text-align: center;
  line-height: 44px;
  color: #ffffff;
}

.card-body p {
  font-size: 18px;
  color: #ffffff;
  list-style: 26px;

}

.brands-section .brand-heading h2 {
  font-size: 22px !important;
  line-height: 36px;
  color: #eb2127;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.brands-section .brand-heading h2 span {

  font-weight: 800 !important;

}

.brands-section .brand-heading p {
  font-size: 18px !important;
  line-height: 26px;
  color: #10133a !important;
  text-align: center;
  width: 62%;
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: 500;
}

.brands-section .barands-body .col-md-1.col-sm-2 {
  flex: 0 0 auto;
  max-width: 10.333%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


.default-logo1 {
  height: auto;
  width: 100%;
}

.header .col-md-2 {
  flex: 0 0 auto;
  width: 15.7%;
  padding: 0 !important;
}

.custom-menu .navbar-nav>li>a {
  padding: 6px 10px !important;
}

.products .view-btn {
  text-align: center;
}

.video-section {
  background-color: #cce5ef;
}

.video-imbend iframe {
  padding-bottom: 50px;
}

.common_phone_call_icon {
  background-color: #eb2128 !important;

}

.barands-body {
  padding-bottom: 50px;
}

.info-box a {
  text-decoration: none;
}

.bg-warnin {
  background-color: #10133a !important;
}

.fa-angle-down::before {
  display: none !important;
}

.navbar-nav {
  align-items: center !important;
}

/* ---------------Banner-slider-Start --------------- */

.owl-slider {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.owl-slider .owl-stage {
  display: flex;
}

.owl-slider .slide img {
  width: 100%;
}

.owl-slider .disabled {
  display: none;
}

.banner-bg {
  background-color: #cae1e9;
  /* background-position: 0 30%; */
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.banner-img {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 100px;
}

/* .banner-2 {
  background-image:  url('../../assets/images/sliders/custom-printed-boxes-oxopackaging.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
  height: 475px;
}
.banner-3 {
  background-image:  url('../../assets/images/sliders/mothersday.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
  height: 475px;
} */
.owl-text {
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.owl-text span {
  color: #000;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -32px;
}

.owl-text button {
  background-color: transparent;
  border: 3px solid #afb1b4;
  border-radius: 6px;
  font-size: 30px;
  padding: 6px 48px;
  cursor: pointer;
  margin-top: 88px;
  color: #e4e4e4;
}

.owl-text button:hover {
  color: #fff;
  border: 3px solid #fff;
}

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
  left: 2px;
}

.owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  border-color: transparent;
  background-color: #fff;
}

.owl-dots .owl-dot.active {
  background-color: #69728c;
  outline: 0;
}

.owl-text h2 {
  font-size: 55px !important;
  font-weight: 900;
  line-height: 65px;
  text-align: left;
  font-family: 'Daikon';
  width: 60%;
  color: #10133a;

}

.owl-text p {
  font-size: 14px !important;
  line-height: 24px;
  text-align: left;
  font-family: 'Daikon';
  width: 78%;
  font-weight: 600;
  color: #231f20 !important;
}

.owl-text .banner-btn {
  display: inline-flex;
}

.owl-text .banner-btn .get-btn {
  background-color: #eb2127 !important;
  color: #fff !important;
  padding: 1px 10px !important;
  border-radius: 40px;
}
.owl-text .banner-btn .get-btn:hover {
  background-color: #10133a !important;
  color: #fff !important;

}

.owl-text .banner-btn .get-btn a {
  font-size: 16px;
  font-family: 'Daikon';
  font-weight: 600;
  color: #fff !important;
  text-transform: uppercase;

}

.owl-text .banner-btn .pickup-btn {

  color: #10133a !important;
  padding: 1px 10px !important;

}

.owl-text .banner-btn .pickup-btn a {

  font-size: 16px;
  font-family: 'Daikon';
  font-weight: 600;
  color: #10133a !important;
  text-transform: uppercase;

}
/* .owl-text .banner-btn .pickup-btn:hover{

  background-color: #eb2127 !important;
  color: #fff !important;
  padding: 1px 10px !important;
  border-radius: 40px;

} */

/* --------------- Banner-slider-End --------------- */



.title_box h2 {
  text-transform: uppercase !important;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 17px !important;
  text-align: center;
  font-family: 'Daikon';
  color: #000;
  font-weight: bold;
}
.offer-sec h2{
  font-size: 26px !important;
}.category_detail_box h2{
  font-size: 26px !important;
  color: #eb2127;
}
.category_detail {
  background-color: #e6f3f9  !important;
  padding: 20px  !important;
}
.category_detail_box h3{
  font-size: 22px !important;
}
@media  all and (max-width:1560px) {
  .offer-slider .owl-carousel .owl-next {
      display: inline-block;
      position: absolute;
      top: 38%;
      right: -50px;
  }
  .offer-slider .owl-carousel .owl-prev {
      display: inline-block;
      position: absolute;
      top: 38%;
      left: -50px;
  }
}
@media  all and (max-width:1366px) {
  .offer-slider {
      margin: 50px 0 -200px;
      min-height: 333px !important;
  }
  .offer-slider .owl-carousel .owl-next {
      display: inline-block;
      position: absolute;
      top: 38%;
      right: -50px;
  }
  .offer-slider .owl-carousel .owl-prev {
      display: inline-block;
      position: absolute;
      top: 38%;
      left: -50px;
  }
}
@media  all and (max-width:1250px) {
  .offer-slider {
      margin: 50px 0 -200px;
      min-height: 333px !important;
  }
  .offer-slider .owl-carousel .owl-next {
      display: inline-block;
      position: absolute;
      top: 38%;
      right: -10px;
  }
  .offer-slider .owl-carousel .owl-prev {
      display: inline-block;
      position: absolute;
      top: 38%;
      left: -10px;
  }
}
@media  all and (max-width:950px) {
  .offer-slider {
      margin: 50px 0 -200px;
      min-height: 333px !important;
  }
  .offer-slider .owl-carousel .owl-next {
      display: inline-block;
      position: absolute;
      top: 38%;
      right: 0px;
  }
  .offer-slider .owl-carousel .owl-prev {
      display: inline-block;
      position: absolute;
      top: 38%;
      left: 0px;
  }
}
@media  all and (max-width:575px) {
  .offer-slider {
      margin: 50px 0 -331px;
      min-height: 420px !important;
  }
  .products_container{
      padding-top: 1px;
      padding-bottom: 92px;
  }
  .opi-products-page-offer-img{
      height: auto !important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sticky_element{
  top:-4.5rem;align-self: flex-start
}



/* ---------------products-page------------ */
.products_container .banner-bg {
  background: #0052D4;
  background: -webkit-linear-gradient(to bottom, #101b3f, #00567a, #0098d0);
  background: linear-gradient(to bottom, #101b3f, #00567a, #0098d0);
    background-position-x: 0%;
    background-position-y: 0%;
  background-position: 0 30%;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-items: center;
  justify-content: center;
}
.product-ban h2 {
  font-size: 31px !important;
  line-height: 34px;
  font-family: 'Daikon' !important;
  color: #fff;
  font-weight: bold;
  width: 93%;
}
.product-ban p {
  font-size: 11px !important;
  line-height: 17px;
  font-family: 'Daikon' !important;
  color: #fff;
  font-weight: 400;
  width: 79%;
}
.tl-corner-box .get-btn a .nav-link {
  background-color: #eb2127 !important;
  color: #fff !important;
  padding: 1px 10px !important;
  border-radius: 40px;
}
.product-ban .btn {
  color: #fff !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* code for 1440 */
@media only screen and (max-width: 1536px) {
  footer p {
    font-size: 21px;
    width: 60%;
}


}
/* code for 1366 */
@media only screen and (max-width: 1400px) {
  .static_page .col-12.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  footer p {
    font-size: 21px;
    width: 60%;
}
}
/* code for 1280 */
@media only screen and (max-width: 1280px) {
  footer p {
    font-size: 18px;
}
}
/* code for 1080 */
@media only screen and (max-width: 1080px) {

  footer p {
    width: 80%;
    font-size: 12px;
}
.brands-section .barands-body .col-md-1.col-sm-2 {
    max-width: 33%;
    margin: 0 auto 20px;
}
.brands-section .brand-heading p {
    width: 100%;
}
.card-body.p-0.pt-2 {
    width: 100%;
}
.testimonials h3 {
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.video-section .video-heading p {
    width: 100%;
}
.video-section .video-heading h2 {
    width: 100%;
}
.products p {
    padding: 0 0% 0px;
}
.home_page_h1 {
    padding-top: 0px;
}
.owl-text h2 {
    font-size: 36px !important;
    line-height: 46px;
    width: 100%;
}
.banner-img {
    padding-top: 10px;
}
.owl-text p {
    font-size: 12px !important;
    line-height: 22px;
    width: 100%;
}
.nav-link {
    padding: 0.5rem 0.3rem;
}
.owl-text {
    height: auto;
}
.owl-text .banner-btn .get-btn a {
    font-size: 12px;
}
.contact-sec h1 {
    font-size: 40px;
    margin: 0 0 10px;
}
.banner-img img {
    width: 100%;
}
.product-ban h2 {
    font-size: 22px !important;
    line-height: 33px;
    width: 100%;
}
.banner-bg {
    height: 300px;
}
.media-object {
    width: 150px !important;
    height: 150px !important;
}
.custom-menu .navbar-nav>li:last-child a {
    padding: 6px 12px !important;
    font-size: 12px;
}
.custom-menu .navbar-nav>li:nth-child(5) a {
    padding: 6px 12px !important;
    font-size: 12px;
}
.static_page h3 {
  font-size: 15px !important;

}
.info-box+.info-box {
  border: 1px solid #ddd;
}
.info-box {
  border: 1px solid #ddd;
}
}
/* code for 768 */
@media only screen and (max-width: 768px) {
  footer p {
    width: 80%;
    font-size: 12px;
}
.brands-section .barands-body .col-md-1.col-sm-2 {
    max-width: 33%;
    margin: 0 auto 20px;
}
.brands-section .brand-heading p {
    width: 100%;
}
.card-body.p-0.pt-2 {
    width: 100%;
}
.testimonials h3 {
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.video-section .video-heading p {
    width: 100%;
}
.video-section .video-heading h2 {
    width: 100%;
}
.products p {
    padding: 0 0% 0px;
}
.home_page_h1 {
    padding-top: 0px;
}
.owl-text h2 {
    font-size: 45px !important;
    line-height: 48px;
    width: 100%;
}
.banner-img {
    padding-top: 10px;
}
.owl-text p {
    font-size: 12px !important;
    line-height: 22px;
    width: 100%;
}
.nav-link {
    padding: 0.5rem 0.3rem;
}
.owl-text {
    height: auto;
}
.owl-text .banner-btn .get-btn a {
    font-size: 12px;
}
.contact-sec h1 {
    font-size: 40px;
    margin: 0 0 10px;
}
.banner-img img {
    width: 100%;
}
.product-ban h2 {
    font-size: 22px !important;
    line-height: 33px;
    width: 100%;
}
.banner-bg {
    height: 300px;
}
.media-object {
    width: 150px !important;
    height: 150px !important;
}
.static_page h3 {
  font-size: 15px !important;
}
.package-hover-main.opi-package-hover-main {
  height: 110px;
}
.info-box+.info-box {
  border: 1px solid #ddd;
}
.info-box:nth-child(3) {
  width: 100%;
}
.info-box:nth-child(2) {
  width: 100%;
}
.info-box:nth-child(1) {
  width: 100%;
}
.products_container .col-md-9 {
  flex: 0 0 auto;
  width: 65%;
}
.sidebar-pack-hover a {

  font-size: 16px !important;
}
}

@media only screen and (max-width: 575px) {
  footer p {
    width: 80%;
    font-size: 12px;
}
.brands-section .barands-body .col-md-1.col-sm-2 {
    max-width: 33%;
    margin: 0 auto 20px;
}
.brands-section .brand-heading p {
    width: 100%;
}
.card-body.p-0.pt-2 {
    width: 100%;
}
.testimonials h3 {
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.video-section .video-heading p {
    width: 100%;
}
.video-section .video-heading h2 {
    width: 100%;
}
.products p {
    padding: 0 0% 0px;
        line-height: 27px;
}
.home_page_h1 {
    padding-top: 0px;
}
.owl-text h2 {
    font-size: 45px !important;
    line-height: 48px;
    width: 100%;
}
.banner-img {
    padding-top: 10px;
}
.owl-text p {
    font-size: 12px !important;
    line-height: 22px;
    width: 100%;
}
.nav-link {
    padding: 0.5rem 0.3rem;
}
.owl-text {
    height: auto;
}
.owl-text .banner-btn .get-btn a {
    font-size: 12px;
}
.contact-sec h1 {
    font-size: 40px;
    margin: 0 0 10px;
}
.banner-img img {
    width: 100%;
}
.product-ban h2 {
    font-size: 22px !important;
    line-height: 33px;
    width: 100%;
}
.banner-bg {
  height: 500px;
}
.static_page .col-12.my-5 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.product_detail .form-group {
  justify-content: center !important;
}
.info-box+.info-box {
  border: 1px solid #ddd;
}
.info-box:nth-child(3) {
  width: 100%;
}
.info-box:nth-child(2) {
  width: 100%;
}
.info-box:nth-child(1) {
  width: 100%;
}
.static_page .form-group {
  justify-content: center !important;
}
.products_container .col-md-9 {
  flex: 0 0 auto;
  width: 100%;
}
.sidebar-pack-hover a {

  font-size: 16px !important;
}

}